---
layout: default
---

<center>
  <hr>
  <h1> Coffee and Espresso </h1>
  <h2>
    I mostly post on my coffee instagram now, <a href="https://www.instagram.com/pdxespresso/" target="blank">@pdxespresso</a>
  </h2>
  Since the Spring of 2022, I've been trying all the best espresso I can find around town.
  I started this blog to put together an espresso tour of Portland, which I may or may not ever finish.
<hr>
</center>

<div class="posts">

  {% for post in site.posts %}
    {% if post.cat == "coffee" and (post.wip == blank or post.wip == false) %}
      <article class="post">

        <h1><a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a></h1>
        <em>
        {% if post.where != blank %}
          {{ post.where }};
        {% endif %}
        {{ post.date | date: "%m/%d/%y" }}
        </em>

        <div class="entry">
          {{ post.excerpt }}
          {% unless post.category == blank %}
            <em>{{ post.category }}</em>
          {% endunless %}
        </div>

        <a href="{{ site.baseurl }}{{ post.url }}" class="read-more">Read More</a>
      </article>
    {% endif %}
  {% endfor %}
</div>
