---
layout: default
---

<center>
  <hr>
  <h1> Coffee and Espresso </h1>
  <h3>
    My thoughts about coffee, espresso, and cafes, especially in Portland, OR.
  </h3>
  Since the Spring of 2022, I've been trying all the best espresso I can find around town.
  I started this blog to put together an espresso tour of Portland, which I may or may not ever finish.
<hr>

<div class="posts">

  {% for post in site.posts %}
    {% if post.cat == "coffee" %}
      <article class="post">

        <h1><a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a></h1>

        <div class="entry">
          {{ post.excerpt }}
          {% unless post.category == blank %}
            <em>{{ post.category }}</em>
          {% endunless %}
        </div>

        <a href="{{ site.baseurl }}{{ post.url }}" class="read-more">Read More</a>
      </article>
    {% endif %}
  {% endfor %}
</div>
</center>
