---
layout: default
---

<div class="posts">
  {% assign year = "dummy" %}
  {% for post in site.posts %}
    {% unless post.wip %}
      {% assign _year = post.date | date: "%Y" %}
      {% if _year != year %}
        {% assign year = _year %}
        <h4><em>{{ year }}</em></h4>
      {% endif %}
      <article class="post">
        <h1><a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a></h1>

        <div class="entry">
          {{ post.excerpt }}
          {% unless post.category == blank %}
            <em>{{ post.category }}</em>
          {% endunless %}
        </div>

        <a href="{{ site.baseurl }}{{ post.url }}" class="read-more">Read More</a>
      </article>
    {% endunless %}
  {% endfor %}
</div>

<hr>
<h1>Posts In The Works:</h1>
<h2>These aren't quite ready for primetime, but you can look if you want!</h2>
<hr>

<div class="posts">

  {% for post in site.posts %}
    {% if post.wip %}
      <article class="post">

        <h1><a href="{{ site.baseurl }}{{ post.url }}">(🏗WIP🚧) {{ post.title }}</a></h1>

        <div class="entry">
          {{ post.excerpt }}
          {% unless post.category == blank %}
            <em>{{ post.category }}</em>
          {% endunless %}
        </div>

        <a href="{{ site.baseurl }}{{ post.url }}" class="read-more">Read More</a>
      </article>
    {% endif %}
  {% endfor %}
</div>
